@font-face{
    font-family:"Neue Machina";
    font-style: normal;
    font-weight: 600;
    src:url("/assets/fonts/NeueMachina-Regular.woff2") format("woff2"),
        url("/assets/fonts/NeueMachina-Regular.woff") format("woff");
}

/* TT Interphases - Regular */
@font-face{
    font-family:"TT Interphases";
    font-style: normal;
    font-weight: 400;
    src:url("/assets/fonts/TTInterphasesRegular.woff2") format("woff2"),
        url("/assets/fonts/TTInterphasesRegular.woff") format("woff");
}

/* TT Interphases - Medium */
@font-face{
    font-family:"TT Interphases";
    font-style: normal;
    font-weight: 500;
    src:url("/assets/fonts/TTInterphasesMedium.woff2") format("woff2"),
        url("/assets/fonts/TTInterphasesMedium.woff") format("woff");
}

body {
    font-family: "TT Interphases";
}