html {
  scroll-behavior: smooth;
  color: #262626;
}

.row-transition {
  .row-body {
    display: grid; 
    transition: grid-template-rows 250ms ease;
  }

  .rows-0 {
    grid-template-rows: 0fr;

  }

  .rows-1 {
    grid-template-rows: 1fr;
  }
}

.carousel {
  .swiper { 
    padding-bottom: 3rem;
  }
  
  .swiper-pagination-bullet {
    background-color: transparent;
    outline: 2px solid #F9423A;
    width:  0.75rem;
    height:  0.75rem;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #F9423A;
  }
}

.custom-content { 
  h2 {
    @apply text-black;
    font-family: "Neue Machina";   
  }

  h3 {
    font-family: "Neue Machina";
    @apply text-6xl md:text-7xl xl:text-8xl text-headingColor;
  }

  ul { 
    @apply border-b border-black w-fit;
      li {
      @apply border-t border-black py-2;
    }
  }
}
